@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// Typographies
body {
  color: #555;
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
}

// Container
.container {
  @media screen and (min-width: 701px) {
    max-width: 800px;
  }

  @media screen and (min-width: 1200px) {
    padding: 20px 100px;
    max-width: 1000px;
  }

  max-width: 600px;
  padding: 20px;
  margin: auto;
  font-family: Inter;
}

// Button design

.button {
  background-color: transparent;
  border: 1px solid $border-color;
  padding: $spacing_s $spacing_l;
  border-radius: 2px;
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: $primary;
    border-color: $primary;
  }

  &.primary {
    background-color: $primary;
    color: white;
    border-color: $primary;
    &:hover {
      background-color: transparent;
      border-color: $primary;
      color: $primary;
    }
  }
}
